# Keystores & Signing
*.jks
*.keystore
keystore.properties

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.toolchains/
android-app/local.properties
android-app/.gradle/
android-app/app/build/
dist
dist-ssr
# Environment Variables
.env
.env*.local
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
